<header id="header">
	<h1>dream of depth</h1>
</header>
<div id="main">
	<form method="post" id="changepassword" action="/newpassword">
		<h1>New Password</h1>
		<input type="password" name="newpassword" placeholder="New password" id="newpassword">
		<input type="password" name="conformpassword" placeholder="Conform password" id="conformpassword"><br>
		<input type="checkbox" name="viewpw" onclick="viewpsw()" class="viewpoint"><span class="viewpoint">Snow Password</span><br>
		<input type="submit" name="submit" value="submit">
	</form>
</div>
<script type="text/javascript">
	let newpsw=document.getElementById("newpassword")
	function viewpsw(){
		if(newpsw.type==="password"){
			console.log("correct")
			document.getElementById("newpassword").type="text";
			document.getElementById("conformpassword").type="text";
		}
		else{
			document.getElementById("newpassword").type="password";
			document.getElementById("conformpassword").type="password";
		}
	}
</script>