<header id="header">
	<h1>dream of depth</h1>
</header>
<div id="main">
	<form method="post" action="/verifyemail" id="inputforget">
		<h1>Verify Email-Id</h1>
		<input type="text" name="checkemail" id="checkemail" placeholder="Enter Email id">
		<input type="submit" name="Verify" value="Verify">
	</form>
</div>
